<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-profile-collection-set-heading" data-cy="ProfileCollectionSetCreateUpdateHeading">
        Create or edit a Profile Collection Set
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_owned">Owned</label>
          <input type="checkbox" class="form-check" name="owned" id="field_owned" data-cy="owned" formControlName="owned" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_wanted">Wanted</label>
          <input type="checkbox" class="form-check" name="wanted" id="field_wanted" data-cy="wanted" formControlName="wanted" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateAdded">Date Added</label>
          <div class="input-group">
            <input
              id="field_dateAdded"
              data-cy="dateAdded"
              type="text"
              class="form-control"
              name="dateAdded"
              ngbDatepicker
              #dateAddedDp="ngbDatepicker"
              formControlName="dateAdded"
            />
            <button type="button" class="btn btn-secondary" (click)="dateAddedDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_collection">Collection</label>
          <select
            class="form-control"
            id="field_collection"
            data-cy="collection"
            name="collection"
            formControlName="collection"
            [compareWith]="compareProfileCollection"
          >
            <option [ngValue]="null"></option>
            @for (profileCollectionOption of profileCollectionsSharedCollection(); track $index) {
              <option [ngValue]="profileCollectionOption">{{ profileCollectionOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_sets">Set</label>
          <select
            class="form-control"
            id="field_sets"
            data-cy="set"
            multiple
            name="sets"
            formControlName="sets"
            [compareWith]="compareMegaSet"
          >
            @for (megaSetOption of megaSetsSharedCollection(); track $index) {
              <option [ngValue]="megaSetOption">{{ megaSetOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
