<div>
  <h2 id="page-heading" data-cy="MegaPartTypeHeading">
    <span>Mega Part Types</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mega-part-type"
        [routerLink]="['/mega-part-type/new']"
      >
        <fa-icon icon="plus" />
        <span>Create a new Mega Part Type</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (megaPartTypes().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Mega Part Types found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span>Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="version">
              <div class="d-flex">
                <span>Version</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="active">
              <div class="d-flex">
                <span>Active</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="isLatest">
              <div class="d-flex">
                <span>Is Latest</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="attribute.id">
              <div class="d-flex">
                <span>Attribute</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (megaPartType of megaPartTypes(); track trackId(megaPartType)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/mega-part-type', megaPartType.id, 'view']">{{ megaPartType.id }}</a>
              </td>
              <td>{{ megaPartType.name }}</td>
              <td>{{ megaPartType.version }}</td>
              <td>{{ megaPartType.active }}</td>
              <td>{{ megaPartType.isLatest }}</td>
              <td>
                @for (attribute of megaPartType.attributes; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/mega-attribute', attribute.id, 'view']">{{ attribute.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/mega-part-type', megaPartType.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/mega-part-type', megaPartType.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(megaPartType)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
