<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-blocked-profile-heading" data-cy="BlockedProfileCreateUpdateHeading">Create or edit a Blocked Profile</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_reason">Reason</label>
          <input type="text" class="form-control" name="reason" id="field_reason" data-cy="reason" formControlName="reason" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateBlocked">Date Blocked</label>
          <div class="input-group">
            <input
              id="field_dateBlocked"
              data-cy="dateBlocked"
              type="text"
              class="form-control"
              name="dateBlocked"
              ngbDatepicker
              #dateBlockedDp="ngbDatepicker"
              formControlName="dateBlocked"
            />
            <button type="button" class="btn btn-secondary" (click)="dateBlockedDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_profile">Profile</label>
          <select
            class="form-control"
            id="field_profile"
            data-cy="profile"
            name="profile"
            formControlName="profile"
            [compareWith]="compareProfile"
          >
            <option [ngValue]="null"></option>
            @for (profileOption of profilesSharedCollection(); track $index) {
              <option [ngValue]="profileOption">{{ profileOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_blockedProfile">Blocked Profile</label>
          <select
            class="form-control"
            id="field_blockedProfile"
            data-cy="blockedProfile"
            name="blockedProfile"
            formControlName="blockedProfile"
            [compareWith]="compareProfile"
          >
            <option [ngValue]="null"></option>
            @for (profileOption of profilesSharedCollection(); track $index) {
              <option [ngValue]="profileOption">{{ profileOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
